@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
  display: flex;
}

body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 14%, rgba(134,227,228,1) 100%);
    font-family: 'Nunito', sans-serif;
    display: flex;

}